.interface{
    width: 100%;
}
.items-align-right {
    text-align: right;
    padding-left: 20px;
  }
  
  .items-align-left {
    text-align: left;
  }
  .scrollable {
    overflow-y: auto;
    max-height: 100vh;
  }
  .scrollbox {
    overflow-y: auto;
  }
  
  .medication-schedule,
  .notes {
    padding-right: 15px;
  }  
  .med{
    border-radius: 20px;
    margin-top: 20px;
    background-color: #ffffff;

  }
  .headmed{
    margin-left: 5px;
    color: rgb(249, 106, 2);
  }
  .note{
    margin-left: 5px;
    color: rgb(249, 106, 2);
  }
  .addmed {
    width: 340px;
    height: 500px;
    background-color: #ffffff;
    margin-right: 10px;
    right: 0; 
    position: sticky;
}

.medhome{
    position: sticky;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    column-gap: 20px;
    background-color:rgb(240, 242, 245);
    padding: 0px 10px;
    position: relative;
}
@media screen and (max-width:1024px){
    .medhome{
        width: 100%;
        
        grid-template-columns: 20% 40% 20% 20%;
        padding: 0px 20px 0px 10px;
    }
}

@media screen and (max-width:768px){
    .medhome{
        width: 100%;
        display:grid;
        grid-template-columns: 1fr;
        padding: 0px 10px 0px 10px;
        overflow: hidden;
    }
}

@media screen and (max-width:430px){
    .medhome{
        width: 100%;
        display:grid;
        grid-template-columns: 1fr;
        padding: 0px 0px;
        overflow: hidden;
        background-color: #f5f5f5
    }
}
