.vox{
  width: 100%;
  background-color:rgb(240, 242, 245);
  position: relative;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
}
.box{
  margin-top: 20px;
}
.col{
  border-radius: 10px;
  box-shadow: rgb(241, 50, 50);

}
.toto{
 color:rgb(249,106,2);

}
.mew{   
background-color: rgb(249, 106, 2);
border-color: rgb(249, 106, 2);
    }
    .mew:active {
      background-color: #ff8500; /* Adjust hover color as needed */
      border-color: #ff8500; /* Adjust hover color as needed */
    }
    .mew:hover {
      background-color: #ff8500; /* Adjust hover color as needed */
      border-color: #ff8500; /* Adjust hover color as needed */
    } 

    