.interface{
    width: 100%;
}
.btw{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    min-height: calc(100vh - 80px);
    display: grid;
    grid-template-columns: 260px 1fr;
    column-gap: 20px;
    padding: 20px 15px;
    position: relative;
}
@media screen and (max-width:1024px){
    .btw{
        grid-template-columns: 220px 1fr;
        column-gap: 15px;
        padding: 15px 10px;
    }
}

@media screen and (max-width:768px){
    .btw{
        grid-template-columns: 1fr;
        padding: 10px;
    }
}
